@charset "UTF-8";

/*폰트*/
/* font-family: 'Playfair Display', serif; */
/* font-family: 'Roboto', sans-serif; */
/* font-family: 'Noto Sans KR', sans-serif; */

body{
    padding: 0;
    margin: 0;
}

.buger-body{
    display: flex;
    justify-content:flex-end;
    height: 100vh;
    position: absolute;
    z-index: 10;
    margin-top: 20px;
    margin-left: 80px;
}

/* 1. 햄버거 버튼 스타일 */
.buger-btn{
    position: relative;
    transition: .3s ease-in-out;
    width: 45px;
    height: 34px;
    z-index: 2;
}
.buger-btn span{
    position: absolute;
    height: 4px;
    border-radius: 4px;
    width: 100%;
    background: rgb(83, 64, 57);
    top: 0;
    transition: 0.2s;
}
.buger-btn span:nth-child(1){
    top: 0;
}
.buger-btn span:nth-child(2),
.buger-btn span:nth-child(3){
    top: 13px;
}
.buger-btn span:nth-child(4){
    top: 26px;
}
.buger-btn.active span:nth-child(1),
.buger-btn.active span:nth-child(4){
    opacity: 0;
}
.buger-btn.active span:nth-child(2){
    transform: rotate(45deg);
}
.buger-btn.active span:nth-child(3){
    transform: rotate(-45deg);
}
.buger-btn.active span{
    background-color: rgb(62, 43, 44);
    z-index: 250;
}
/* 풀페이지 메뉴 */
#wrap{width: 100%;}
.overlay{
    position: fixed;
    background-color: #f1e3c4;
    top: 0;
    left: 0;
    width: 100%;
    height: 0%;
    opacity: 0;
    visibility: hidden;
    display: flex;
    flex-direction: row;
    transition: 0.3s;
    z-index: 2;
}
.overlay nav ul{
    list-style: none;padding: 0;margin: 0;
    display: flex;
}
.overlay nav>ul{
    position: absolute;
    left: 300px;
    z-index: 13;
}
.overlay nav ul li.main-menu{
    margin-top: 200px;
    margin-left: 20px;
    opacity: 0;
    width: 200px;
    height: 30px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 50px;
}
.overlay nav ul li a{
    text-decoration: none;
    color: #3e3e3e;
    opacity: 0.75;
    transition: opacity 0.2s ease;
    font-size: 20px;
}
.overlay nav ul li .main-menu-text1{
    font-size: 25px;
    font-weight: 800;
    color: #000;
} 
.overlay nav ul li a:hover{
    opacity: 1;
}
@keyframes fadeInLeft{
    0%{opacity: 0;transform: translateX(-25%);}
    100%{opacity: 1;transform: translateX(0);}
}
.overlay.visible{
    height: 100%;
    opacity: 100%;
    visibility: visible;
}
.overlay.visible nav ul li{
    animation: fadeInLeft 0.3s ease forwards;
}
.overlay.visible nav ul li:nth-child(1){
    animation-delay: 0.23s;
}
.overlay.visible nav ul li:nth-child(2){
    animation-delay: 0.23s;
}
.overlay.visible nav ul li:nth-child(3){
    animation-delay: 0.23s;
}
.overlay.visible nav ul li:nth-child(4){
    animation-delay: 0.23s;
}
.overlay.visible nav ul li:nth-child(5){
    animation-delay: 0.23s;
}
.overlay.visible nav ul li:nth-child(6){
    animation-delay: 0.23s;
}
/*서브메뉴*/
.overlay .menu .main-menu .sub-menu-container{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
}
.overlay .menu .main-menu .sub-menu-container li{
    margin-top: 20px;
    font-family: 'Roboto';
}
.overlay .menu .main-menu .sub-menu-container li a{
    font-size: 20px;
}
/*신라호텔로고*/
.overlay .logo{
    position: absolute;
    left: 800px;
} 
/*비디오 영역*/
.video-area{
height: 100vh;width: 100%;}
.video-area .main-video{
    height: 100vh;
    width: 100%;
    object-fit: cover;
}
.welcom2{
    width: 100%;
    height: 500px;
    margin: auto;
    padding: 0;
    background-color: #4d3306;
}

#main-box.fixed{
    position: fixed;
   /*  left: 0;
    top: 0; */
    width: 100%;
    z-index: 999999;
}
#main-box.block{
    display: block;
    background-color: rgb(241, 227, 196);
}
#main-box{
    display: none;
    width: 100%;
}
#main-menu.none{
    display: none;
}
#main-menu{
    display: flex !important;
    list-style: none;
    height: 60px;
    width: 100%;
    position: sticky;
    top: 0;
    background-color: #f1e3c4;
    /* display: none; */
}
#main-menu .menu-img{width: 230px;height: 50px; margin-left: 20px; margin-left: 60px; /* position: relative */;}
#main-menu .reservation{width: 150px; height: 50px;text-align: center; margin-right: 20px;}
#main-menu .reservation a{text-decoration: none; display: block;width: 150px; height: 40px;border: 1px solid #3E3E3E;line-height: 40px;margin-top: 15px; font-family:'Playfair Display'; color: #3E3E3E;
    transition: all 0.8s;}
#main-menu .reservation:hover a{background-color: rgba(201, 131, 9,70%);
color: #fff;}
#main-menu .item .item-name{
    width: 150px;
    height: 69px;
    text-align: center;
    font-family: 'Playfair Display';
    font-size: 18px;
    color: #3E3E3E;
    display: block;
    text-decoration: none;
    font-size: 17px;
    line-height: 70px;
    margin: 0 35px;
}
#main-menu:nth-child(1) .item .item-name{margin-left: 0px;}
#main-menu .logo-img{text-align: center;}
#main-menu .item .content-menu{
    background-color: #f1e3c4;
    position: absolute;
    width: 100%;
    left: 0;
}
#main-menu .item .content-menu .inner{
    display: flex;
    width: 100%;
    background-color: #f1e3c4;
}
#main-menu .item .content-menu .inner li{
    list-style: none;
    margin: 50px 30px;
    /* margin: 50px 20px; */
    /* display: none; */
}
/* #main-menu .item .content-menu:hover .inner li{
    display: block;
} */
#main-menu .item .content-menu .inner li a{
    text-decoration: none;
    font-family:'Roboto';
    font-size: 17px;
    color: #3E3E3E;   
}
#main-menu .item a:hover{
    color:#c98309;
    border-bottom: 1px solid #c98309;
}
#main-menu .item .content-menu .inner li a:hover{
    color:#c98309;
}
#main-menu .item:nth-child(3) .content-menu .inner{
    margin-left: 420px;
}
#main-menu .item:nth-child(4) .content-menu .inner{
    margin-left: 350px;
}
#main-menu .item:nth-child(5) .content-menu .inner{
    margin-left: 720px;
}
#main-menu .item:nth-child(6) .content-menu .inner{
    margin-left: 800px;
}
#main-menu .item:nth-child(7) .content-menu .inner{
    margin-left: 1100px;
}
#main-menu .item:nth-child(8) .content-menu .inner{
    margin-left: 1360px;
}


/*웰컴 부분*/
.welcom-container, .welcom-box{
    width: 1200px;
    height: 800px;
    margin: auto;
    text-align: center;
/* background-color: #3E3E3E; */
   
}
.welcom-box .welcom-container{
    width: ;
}
.welcom-container .welcom-text1{
    width: 1200px;
    height: 60px;
    font-size: 45px;
    padding-top: 350px;
    font-family: 'Playfair Display';
}

.welcom-container .welcom-text2{
    font-size: 25px;
    font-family: 'Playfair Display';
    top: 300px;
    width: 1200px;
    padding: 50px 0;

}
.welcom-container .readMore-btn a{
    width: 1200px;
    top: 400px;
    padding-top: 50px;
    text-decoration: underline;
    color: rgb(241, 227, 196);
    font-family: 'Playfair Display';
}
.welcom-box .welcom-horizon{
    width: 800px;
    height: 2px;
    margin: auto;
    border-radius: 10px;
    background-color:  rgb(241, 227, 196);
    margin-bottom: 50px;
}

/*룸패키지*/
.RoomPackage{
    width: 1200px;
    height: 650px;
    margin: auto;
}
.RoomPackage .RoomPackage-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.RoomPackage .RoomPackage-container .RoomPackage-all{
    width: 300px;
    height: 370px;
/*     background-color: blue; */
    margin-top:120px;
}
.RoomPackage .RoomPackage-container .RoomPackage-all .scale-img{
    overflow: hidden;
    width: 300px;
    height: 250px;
    display: block;
}
.RoomPackage .RoomPackage-container .RoomPackage-all .scale-img img{
    transition: 1.5s;
}
.RoomPackage .RoomPackage-container .RoomPackage-all img:hover{
    transform: scale(1.2);
}
.RoomPackage .RoomPackage-container .RoomPackage-all .RoomPackage-text{
    width: 300px;
    height: 120px;
    font-family: 'Playfair Display';
}
.RoomPackage .RoomPackage-container .RoomPackage-all .RoomPackage-text .RoomPackage-text1{
    font-size: 18px;
    color: #3e3e3e;
    margin: 10px 0;
}
.RoomPackage .RoomPackage-container .RoomPackage-all .RoomPackage-text .RoomPackage-horizon{
    width: 250px;
    height: 1px;
    background-color: #f1e3c4;
    border-radius: 10px;
}
.RoomPackage .RoomPackage-container .RoomPackage-all .RoomPackage-text .RoomPackage-text2{
    font-size: 15px;
    color: #939393;
    margin-top: 5px;

}
.RoomPackage .RoomPackage-main-text{
    font-size: 25px;
    color: #3e3e3e;
    width: 200px;
    margin-left: 50px;
    height: 40px;
    font-family: 'Playfair Display';
    padding-top: 50px;
}

/*메인슬라이드 영역*/
.main-slid .main-slid-mainText{
    font-size: 25px;
    color: #3e3e3e;
    width: 400px;
    margin-left: 400px;
    height: 40px;
    padding-top: 80px;
    font-family: 'Playfair Display';

}
.main-slid{
    width: 100%;
    height: 900px;
    overflow: hidden;
    position: relative;
}
.main-slid .mySwiper{
    width: calc(500px * 3 + 80px); height: 420px;
    text-align: center;position: absolute;top: 100px;left: 50%;
    margin-left: calc((500px * 3 + 20px)/ -2);
    margin-top: 200px;
    margin-bottom: 160px;
}
.main-slid .mySwiper .swiper-slide{
    width: 500px;
    height: 420px;
}
.main-slid .mySwiper .swiper-slide .slid-text .slid-text1{
    font-size: 18px;
    font-family: 'Playfair Display';
    color: #3e3e3e;
    text-align: left;
    margin-left: 15px;
}
.main-slid .mySwiper .swiper-slide .slid-text .slid-horizon{
    width: 400px;
    height: 1px;
    background-color: #f1e3c4;
    border-radius: 10px;
    margin: 5px 0s;
    margin-left: 15px;
}
.main-slid .mySwiper .swiper-slide .slid-text .slid-text2{
    font-size: 15px;
    width: 500px;
    margin-top: 10px;
    font-family: 'Noto Sans KR';
    color: #939393;
    text-align: left;
    margin-left: 15px;
}

.main-slid .mySwiper .swiper-wrapper .swiper-slide{
    opacity: 0.5; transition: all 1s;
}
.main-slid .mySwiper .swiper-wrapper .swiper-slide.swiper-slide-active{
    opacity: 1;
}
.main-slid .main-slid-horizon{
    width: 800px;
    height: 2px;
    border-radius: 10px;
    background-color: #f1e3c4;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 600px;
}

/*이벤트 부분*/
.event .event-box{width: 1200px;height: 1800px;margin: auto;}
.event{
width: 100%;
height: 1800px;
}
.event .event-main-text{
    font-size: 25px;
    width: 50px;
    height: 50px;
    padding-top: 90px;
    font-family: 'Playfair Display';
}
.event .event-container{
    width: 1200px;
    height: 350px;
    display: flex;
    justify-content: space-between;
}
.event .event-container{
    margin-top: 100px;
    margin-bottom: 150px;
}
.event .event2-container,
.event .event3-container{
    margin-top: 250px;
}
.event .event-container .event-text .text1{
    font-size: 28px;
    text-align: center;
    margin: 20px 0;
    color: #3e3e3e;
    font-family: 'Noto Sans KR';
}
.event .event-container .event-text .text2{
    margin-top: 50px;
    margin-bottom: 20px;
    color: #939393;
    font-family: 'Noto Sans KR';
}
.event .event-container .event-text .event3-text2{
    margin-top: 70px;
}

.event .event-container .event-text .event-btn{
    width: 150px;
    height: 40px;
    border: 1px solid #f1e3c4;
    text-align: center;
    line-height: 40px;
}
.event .event-container .event-text .event-btn a{
    text-decoration: none;
    color: #997321;
    font-size: 16px;
    font-family: 'Noto Sans KR';
}
.event .event-container .event-text .event-btn a:hover{
    color: rgb(62, 43, 44);
}
.event .event-container .event-text .event1-btn{
    margin-left: 330px;
}
.event .event-container .event-text .event2-btn{
    margin-left: 13px;
}
.event .event-container .event-text .event3-btn{
    margin-left: 360px;
    margin-top: 50px;
}
.event .event-container .event-text .text1 span{
    color: #997321;
}

/* 애니메이션 -----------------------------------*/
/* 시작은 안보이게 */
.back-to-positon{opacity: 0;transition: 1s;}

/* 왼 -> 오 */
.back-to-positon.to-right{transform: translateX(-150px);}

/* 오 ->왼 */
.back-to-positon.to-left{transform: translateX(150px);}

.show .back-to-positon{opacity: 1;transform: translateX(0);}
.show .back-to-positon.delay-1{transition-delay: 0s;}
.show .back-to-positon.delay-2{transition-delay: 0.3s;}
.show .back-to-positon.delay-3{transition-delay: 0.6s;}
.show .back-to-positon.delay-4{transition-delay: 0.9s;}

/*글씨 등장 영역*/
.video-area .text_anmation {
    display:flex;
    overflow:hidden;
    white-space:nowrap;
    width: 450px;
    height: 75px;
    position: absolute;
    top: 300px;
    z-index: 1;
    left: 735px;
    font-size: 45px;
    font-family: 'Playfair Display';
    color: #fff;
  }
  
  
  .video-area .text_anmation div:first-of-type {    /* For increasing performance 
                         ID/Class should've been used. 
                         For a small demo 
                         it's okaish for now */
    animation: showup 7s;
    margin: 0;
    margin-right: 30px;
  }
  
  .video-area .text_anmation div:last-of-type {
    width:230px;
    animation: reveal 7s;
  }
  
  .video-area .text_anmation span.show2 {
    margin-left:0px;
    animation: slidein 7s;
  }
  
  @keyframes showup {
      0% {opacity:0;}
      20% {opacity:1;}
      80% {opacity:1;}
      100% {opacity:1;}
  }
  
  @keyframes slidein {
      0% { margin-left:-800px; }
      20% { margin-left:-800px; }
      35% { margin-left:0px; }
      100% { margin-left:0px; opacity: 1; }
  }
  
  @keyframes reveal {
      0% {opacity:0;width:0px;}
      20% {opacity:1;width:0px;}
      30% {width:230px;}
      80% {opacity:1;}
      100% {opacity:1;}
  }
/*캘린더*/
.header-content{position: relative;}
.header-content .date-form{
    width: 1200px;
    height: 150px;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 450px;
    left: 360px;
}
.wrapper{
	max-width: 18rem;
	padding: 0 0.5rem;
	margin-left: auto;
	margin-right: auto;
	/* padding-top: 4rem; */
}
.header-content .date-form .wrapper{
    width: 280px;
    height: 100px;
    margin-top: 40px;
    border-right: 1px solid #fff;
}
.header-content .date-form .selector{
    width: 140px;
    height: 150px;
    margin-top: 40px;
}
.header-content .date-form .serch{
    width: 180px;
    height: 150px;
}
.header-content .date-form .serch a{
    display: block;
    width: 140px;
    height: 50px;
    border: 1px solid #fff;
    text-align: center;
    font-size: 18px;
    margin-left:20px;
    margin-top: 90px;
    line-height: 50px;
    text-decoration: none;
    color: #fff;
    transition: all 0.6s;
}
.header-content .date-form .serch a:hover{
    background-color: #f1e3c4;
    color: #3e3e3e;
}
label {
    font-size: 20px;
    font-family: 'Playfair Display';
	display: block;
	margin-bottom: 0.5rem;
	color: #fff;
	/* border: 1px solid #ECEFF1; */
	padding: 0.5rem 0.75rem;
	border-radius: 0.5rem;
    /* position: absolute; */
}
input {
	font-family: 'Roboto', sans-serif;
	display:block;
	border: none;
	border-radius: 0.25rem;
	border: 1px solid transparent;
	line-height: 1.5rem;
	padding: 0;
	font-size: 1rem;
	color: #ffffff;
	width: 100%;
	margin-top: 0.5rem;
    background: transparent;
}
input:focus {outline: none;}
#ui-datepicker-div {
	display: none;
	background-color: #fff;
	box-shadow: 0 0.125rem 0.5rem rgba(0,0,0,0.1);
	margin-top: 0.25rem;
	border-radius: 0.5rem;
	padding: 0.5rem;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.ui-datepicker-calendar thead th {
	padding: 0.25rem 0;
	text-align: center;
	font-size: 0.75rem;
	font-weight: 400;
	color: #78909C;
}
.ui-datepicker-calendar tbody td {
	width: 2.5rem;
	text-align: center;
	padding: 0;
}
.ui-datepicker-calendar tbody td a {
	display: block;
	border-radius: 0.25rem;
	line-height: 2rem;
	transition: 0.3s all;
	color: #546E7A;
	font-size: 0.875rem;
	text-decoration: none;
}
.ui-datepicker-calendar tbody td a:hover {	
	background-color: #f1e3c4;
}
.ui-datepicker-calendar tbody td a.ui-state-active {
	background-color: #997321;
	color: white;
}
.ui-datepicker-header a.ui-corner-all {
	cursor: pointer;
	position: absolute;
	top: 0;
	width: 2rem;
	height: 2rem;
	margin: 0.5rem;
	border-radius: 0.25rem;
	transition: 0.3s all;
}
.ui-datepicker-header a.ui-corner-all:hover {
	background-color: #ECEFF1;
}
.ui-datepicker-header a.ui-datepicker-prev {	
	left: 0;	
	background: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==");
	background-repeat: no-repeat;
	background-size: 0.5rem;
	background-position: 50%;
	transform: rotate(180deg);
}
.ui-datepicker-header a.ui-datepicker-next {
	right: 0;
	background: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMyIgaGVpZ2h0PSIxMyIgdmlld0JveD0iMCAwIDEzIDEzIj48cGF0aCBmaWxsPSIjNDI0NzcwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik03LjI4OCA2LjI5NkwzLjIwMiAyLjIxYS43MS43MSAwIDAgMSAuMDA3LS45OTljLjI4LS4yOC43MjUtLjI4Ljk5OS0uMDA3TDguODAzIDUuOGEuNjk1LjY5NSAwIDAgMSAuMjAyLjQ5Ni42OTUuNjk1IDAgMCAxLS4yMDIuNDk3bC00LjU5NSA0LjU5NWEuNzA0LjcwNCAwIDAgMS0xLS4wMDcuNzEuNzEgMCAwIDEtLjAwNi0uOTk5bDQuMDg2LTQuMDg2eiIvPjwvc3ZnPg==');
	background-repeat: no-repeat;
	background-size: 10px;
	background-position: 50%;
}
.ui-datepicker-header a>span {
	display: none;
}
.ui-datepicker-title {
	text-align: center;
	line-height: 2rem;
	margin-bottom: 0.25rem;
	font-size: 0.875rem;
	font-weight: 500;
	padding-bottom: 0.25rem;
}
.ui-datepicker-week-col {
	color: #78909C;
	font-weight: 400;
	font-size: 0.75rem;
}
.date-form .selector .selectbox {
    position: relative;
    width: 50px;  /* 너비설정 */
    /* border: 1px solid #999; */  /* 테두리 설정 */
    z-index: 1;
    margin-left: 15px;
  }
  .date-form .selector .selectbox:before {  /* 화살표 대체 */
    content: "";
    position: absolute;
    top: 50%;
    right: 15px;
    width: 0;
    height: 0;
    margin-top: -1px;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #fff;
  }
  .date-form .selector .selectbox label {
    position: absolute;
    top: 1px;  /* 위치정렬 */ 
    left: 5px;  /* 위치정렬 */
    padding: .8em .5em;  /* select의 여백 크기 만큼 */
    color: #999;  
    z-index: -1;  /* IE8에서 label이 위치한 곳이 클릭되지 않는 것 해결 */
  }
  .date-form .selector .selectbox select {
    width: 100%; 
    height: auto;  /* 높이 초기화 */
    line-height: normal;  /* line-height 초기화 */
    font-family: inherit;  /* 폰트 상속 */
    padding: .8em .5em;  /* 여백과 높이 결정 */
    border: 0;
    opacity: 0;  /* 숨기기 */
    filter:alpha(opacity=0);  /* IE8 숨기기 */
    -webkit-appearance: none; /* 네이티브 외형 감추기 */
    -moz-appearance: none;
    appearance: none;
  }

  .date-form .selector .title{font-size: 20px;
  font-family: 'Playfair Display';
  display: block;
  margin-bottom: 0.5rem;
  color: #fff;
  /* border: 1px solid #ECEFF1; */
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
}
/*플랙스 박스영역*/
@import url("https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap");
::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 0;
  height: 8px;
}
.container {
    width: 100%;
    height: 100vh;
    margin-top: 200px;
    margin-bottom: 120px;
}
.container .gallery {
    /* width: min(100% - 15px, 900px); */
    width: 100%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  /*   gap: 10px; */
}
.container .gallery .card {
    position: relative;
    height: 800px;
    width: 100%;
    flex: 1;
    overflow: hidden;
    /* border-radius: 15px; */
    cursor: pointer;
    filter: grayscale(80%);
    transition: all 0.8s cubic-bezier(0.25, 0.4, 0.45, 1.4);
}
.container .gallery .card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.container .gallery .card .info {
    width: 500px;
    position: absolute;
    z-index: 3;
    padding: 15px;
    bottom: 200px;
    left: 650px;
  /* opacity: 0; */
    transition: opacity 1.5s cubic-bezier(0.25, 0.4, 0.45, 1.4);
    text-align: center;
}
.container .gallery .card .info .title{
    font-family: 'Playfair Display';
    font-size: 25px;
    color: #fff;
    transition: all 0.8s;
}
.container .gallery .card .info .text{
    font-family: 'Noto Sans KR';
    color: #FFF;
    font-size: 15px;
}
.container .gallery .card .info .btn{
    width: 100px;
    height: 40px;
    border: 1px solid #fff;
    position: absolute;
    left: 200px;
    bottom: -100px;
    font-size: 13px;
    line-height: 40px;
    opacity: 0;
    transition: all 0.8s;
}
.container .gallery .card .info .btn a{
    width: 100px;
    height: 40px;
    display: block;
    text-decoration: none;
    color: #fff;
    transition: all 0.8s;
}
.container .gallery .card:hover {
    flex: 2;
    filter: none;
}
.container .gallery .card:hover .info .title{
    transform: scale(1.8);
}
.container .gallery .card:hover .btn{
    opacity: 1;
}
.container .gallery .card:hover .btn:hover a{
    background-color: #fff;
    color: #3e3e3e;
}
@media only screen and (max-width: 768px) {
    .container .gallery {
    wdith: 100%;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .container .gallery .card {
    height: 200px;
  }
  .container .gallery .card .info {
    width: 100%;
    padding: 10px;
  }
  .container .gallery .card:nth-child(3n+3) {
    grid-column: 1/3;
  }
}

/*지도 영역*/
.map-area{
    width: 1200px;
    height: 800px;
    margin: auto;
    position: relative;
    /* background-color: blue; */
}
.map-area .horizon{
    width: 800px;
    height: 2px;
    margin: auto;
    border-radius: 10px;
    background-color:  rgb(241, 227, 196);
    margin-bottom: 50px;
}
.map-area .map-title{
    font-family: 'Playfair Display';
    font-size: 25px;
    color: #3e3e3e;
    margin-bottom: 80px;
}
.map-area .map{
    width: 1200px;
    height: 500px;
    display: flex;
    justify-content: space-between;
}
.map-area .map .gogleMap{
    width:700px;
    height: 500px;
    filter: grayscale(1);
}
.map-area .text-box{
    width: 500px;
    height: 500px;
    background-color: #f1e3c4;
    position: absolute;
    left: 650px;
    top: 210px;
}
.map-area .text-box .text1{
    margin-top: 100px;
    margin-left: 210px;
    color: #3e3e3e;
    font-size: 20px;
    font-family: 'Noto Sans KR';
}
.map-area .text-box .text2{
    margin-top: 40px;
    margin-left: 110px;
    line-height: 50px;
    color: #939393;
    font-size: 15px;
    font-family: 'Noto Sans KR';
}

/*푸터영역*/
footer{
    width: 100%;
    height: 500px;
    background-color: #F1EBD6;
}
footer .footer-container{
    width: 1200px;
    height: 500px;
    margin: auto;
}
footer .footer-container .company{
    width: 1200px;
    height: 50px;
    /* background-color: #939393; */
    padding-top: 50px;
}

footer .footer-container .footer-main{
    display: flex;
    margin-top: 80px;
}
footer .footer-container .footer-main .logo{
    margin-right: 100px;
}
footer .footer-container .footer-main .text-area{
    display: flex;
    flex-direction: column;
    color: #3e3e3e;
    font-size: 15px;
    font-family: 'Noto Sans KR';
}
footer .footer-container .footer-main .text-area .text-top{
    display: flex;
    margin-bottom: 30px;
}
footer .footer-container .footer-main .text-area .text-top a:hover{
    color: #997321;
    border-bottom: 1px solid #997321;
}
footer .footer-container .footer-main .text-area .text-top div{
    margin-left: 30px;
}
footer .footer-container .footer-main .text-area .text-top div:nth-child(1){
    margin-left: 0;
}
footer .footer-container .footer-main .text-area .text-top div a{
    text-decoration: none;
    color: #3e3e3e;
}
footer .more{
    width: 300px;
    height: 30px;
    border-bottom: 1px solid #3e3e3e;
    margin-left: 900px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}
footer .more>a{
    text-decoration: none;
    color: #3e3e3e;
    font-size: 15px;
    transition: all 0.3s;
}
footer .more>a:hover{
    color: #997321;
}
footer .more a{
    display: block;
}
footer .more a .material-symbols-outlined:hover{
color: #997321;
}
footer .more a .material-symbols-outlined{
    transition: all 0.3s;
}
footer .horizon{
    width: 100%;
    height: 2px;
    background-color: #3e3e3e;
    margin-top: 20px;
}
footer .footer-sub{
    margin-top: 50px;
}
div .footer-sub{
    font-size: 15px;
    font-family: 'Roboto';
}
div .footer-sub .sns{
    width: 170px;
    height: 35px;
    display: flex;
    margin-left: 1020px;
}
div .footer-sub .sns a{
    display: block;
    width: 35px;
    height: 35px;
    text-align: center;
    color: #3e3e3e;
    margin: 0 10px;
}
div .footer-sub .sns a span{
    font-size: 28px;
    transition: all 0.5s;
}
div .footer-sub .sns a span:hover{
    color: #997321;
}
div .footer-sub .copy{
    font-family:'Roboto';
    font-size: 15px;
}
.swiper-pagination span.swiper-pagination-bullet{display: none;}